<div class="profil">
    <div class="register">
        <h2 class="page__subtitle">Profil utilisateur</h2>
        <form class="form" [formGroup]="profilForm">
            <div class="form__column">
                <label for="username">Nom d'utilisateur :</label>
                <input formControlName="username" id="username" name="username" pInputText type="text" />
            </div>

            <div class="form__column">
                <label for="email">Adresse email :</label>
                <input formControlName="email" id="email" name="email" pInputText type="email" />
            </div>

            <div class="form__column">
                <label for="password">Mot de passe :</label>
                <input formControlName="password" id="password" name="password" pInputText type="password" />
            </div>

            <div class="form__column">
                <button class="button__purple" label="Sauvegarder" pButton></button>
            </div>
        </form>
    </div>

    <!-- Subscriptions -->
    <div class="subscriptions">
        <h2 class="page__subtitle">Abonnements</h2>
        <div class="themes__list">
            <app-theme-tile
                *ngFor="let theme of themes"
                [title]="theme.title"
                [text]="theme.text"
                [isSubscribe]="theme.isSubscribe">
            </app-theme-tile>
        </div>
    </div>
</div>