/* Home */
.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Logo */
.home__logo {
    width: 500px;
}

/* Buttons */
.home__buttons {
    display: flex;
    gap: 20px;
}