/* Post */
.post__tile {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}


/* Link */
.post__link {
    border-bottom: 1px solid transparent;
    color: #000000;
    display: block;
    text-decoration: none;
    transition: 0.5s;
    width: fit-content;

    &:hover {
        border-bottom-color: #000000;
    }
}


/* Informations */
.post__informations {
    display: flex;
    gap: 15px 50px;
    margin: 10px 0;
}


/* Text */
.post__text {
    text-align: justify;

    &::before {
        content: "Contenu : ";
    }
}


// Responsive
@media screen and (max-width: 1250px) {
    /* Post */
    .post__tile {
        font-size: 15px;
    }

    
    /* Informations */
    .post__informations {
        flex-wrap: wrap;
        gap: 10px 25px;
        justify-content: start;
    }
}