/* Header */
.header {
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    height: 95px;
    padding: 0 25px;
    width: 100%;
}

/* Logo */
.header__logo {
    height: 95px;
    width: fit-content;
}

/* Menu */
.header__menu {
    display: flex;
    gap: 15px;
}

.header__link {
    color: #000000;
    font-weight: bold;
    text-decoration: none;

    &.active {
        color: #6C5CCF;
    }

    &.logout {
        color: #A40F0F;
    }
} 

/* Mobile */
.icon--mobile {
    display: none;
}


// Responsive
@media screen and (max-width: 1250px) {
    /* Header */
    .header {
        border-bottom: unset;
        height: 250px;
    }

    /* Logo */
    .header__logo {
        height: 250px;
        margin: 15px auto 0 auto;
        object-fit: scale-down;
        width: 100%;
    }

    /* Menu */
    .header__menu {
        display: none;
    }

    /* Mobile */
    .icon--mobile {
        display: block;
        text-align: right;
        width: 80%;
    }

    .mobile__pannel {
        background: #FFFFFF;
        border-left: 1px solid #000000;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 2;
    }

    .header__menu--mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    /* Header */
    .header {
        height: 150px;
        padding: 0 10x;
    }

    /* Logo */
    .header__logo {
        height: 80px;
        margin: auto;
        width: 100px;
    }
}