/* Header */
.header {
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    height: 95px;
    padding: 0 25px;
    width: 100%;
}

/* Logo */
.header__logo {
    height: 95px;
    width: fit-content;
}

/* Menu */
.header__menu {
    display: flex;
    gap: 15px;
}

.header__link {
    color: #000000;
    font-weight: bold;
    text-decoration: none;

    &.active {
        color: #6C5CCF;
    }

    &.logout {
        color: #A40F0F;
    }
} 

// Responsive
@media screen and (max-width: 1250px) {
    /* Header */
    .header {
        border-bottom: unset;
        height: 250px;
    }

    /* Logo */
    .header__logo {
        height: 250px;
        margin: 15px auto 0 auto;
        object-fit: scale-down;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* Header */
    .header {
        height: 150px;
    }

    /* Logo */
    .header__logo {
        height: 150px;
    }
}