<div class="dashboard">
    <div class="dashboard__informations">
        <div>
            <a routerLink="/articles/add">
                <button class="button__purple" label="Créer un article" pButton></button>
            </a>
        </div>
        <div class="informations__filter">
            <span>Trier par </span>
            <i class="filter__arrow pi pi-arrow-down" (click)="filterBy('old')" #arrowDown></i>
            <i class="filter__arrow hide pi pi-arrow-up" (click)="filterBy('recent')" #arrowUp></i>
        </div>
    </div>
    <div class="dashboard__articles">
         <app-article-tile
            *ngFor="let article of articles"
            [author]="article.author"
            [date]="article.date"
            [id]="article.id"
            [text]="article.text"
            [title]="article.title">
        </app-article-tile>
    </div>
</div>