/* Informations */
.dashboard__informations {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


/* Filter */
.informations__filter {
    font-weight: bold;
}

.filter__arrow:hover {
    cursor: pointer;
}


/* Articles */
.dashboard__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

app-article-tile {
    display: flex;
    flex: 1 0 calc(50% - (20px * 1 / 2));
}


// Responsive
@media screen and (max-width: 1250px) {
    /* Informations */
    .dashboard__informations {
        flex-direction: column;
        gap: 20px;
    }

    
    /* Articles */
    .dashboard__articles {
        flex-direction: column;
    }
}