/* Informations */
.page__informations {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


/* Layout optimization */
.left, .right {
    flex: 1;
    width: fit-content;
}


/* Arrow */
.page__informations__arrow {
    display: flex;
    text-decoration: none;

    > .pi-arrow-left {
        color: #000000;
    }
}


// Responsive
@media screen and (max-width: 1250px) {
    /* Title */
    .page__informations__title {
        font-size: 18px;
    }
}