<!-- Informations -->
<app-page-informations previousURL="/" title="Inscription" />

<!-- Register -->
<div class="register">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form__column">
            <label for="username">Nom d'utilisateur :</label>
            <input formControlName="username" id="username" name="username" pInputText type="text" />
        </div>

        <div class="form__column">
            <label for="email">Adresse email :</label>
            <input formControlName="email" id="email" name="email" pInputText type="email" />
        </div>

        <div class="form__column">
            <label for="password">Mot de passe :</label>
            <input formControlName="password" id="password" name="password" pInputText type="password" />
        </div>

        <div class="form__column">
            <button class="button__purple" label="S'inscrire" pButton></button>
        </div>
    </form>
    <span class="message" *ngIf="showMessage">Le compte a bien été crée.</span>
</div>