/* Comment */
.comment {
    display: flex;
    flex: 1 0;
    gap: 5px 20px;
    justify-content: space-between;
    width: 100%;
}

app-comment {
    display: flex;
    flex: 1 0;
    width: 100%;
}


/* Author */
.comment__author {
    display: flex;
}


/* Text */
.comment__text {
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 5px;
    display: flex;
    flex: 1 0;
    padding: 15px;
    width: 100%;
}


// Responsive
@media screen and (max-width: 1250px) {
    /* Comment */
    .comment {
        align-items: unset;
        display: flex;
        flex-direction: column;
    }

    /* Author */
    .comment__author {
        display: block;
        max-width: unset;
        text-align: right;
        width: 100%;
    }

    /* Text */
    .comment__text {
        width: 100%;
    }
}