/* List */
.themes__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* Tile */
app-theme-tile {
    display: flex;
    flex: 1 0 calc(50% - (20px * 1 / 2));
}


// Responsive
@media screen and (max-width: 1250px) {
    /* List */
    .themes__list {
        flex-direction: column;
    }
}