<div class="post">
    <div class="post__container" *ngIf="post">
        <div class="post__link">
            <a class="page__informations__arrow" routerLink="/user/feed">
                <i class="pi pi-arrow-left"></i>
            </a>
            <h2>{{post.title}}</h2>
        </div>
        <div class="post__informations">
            <span>{{post.updated_at | date: "d MMM y à H:mm" }}</span>
            <span>{{post.author}}</span>
            <span>{{post.topic}}</span>
        </div>
        <p class="post__text">{{post.content}}</p>
    </div>
    <div class="post__comments">
        <span class="subtitle">Commentaires</span>
        <div class="comments__list">
            <app-comment *ngFor="let comment of comments" [author]="comment.author" [text]="comment.content" [date]="comment.updated_at"></app-comment>
            <span *ngIf="comments.length === 0">Aucun commentaire pour le moment.</span>
        </div>
        <form class="form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class="form__column form__column--inline">
                <textarea cols="30" formControlName="content" name="text" placeholder="Écrivez ici votre commentaire" rows="5" pTextarea></textarea>
                <button class="button__submit__comment" type="submit">
                    <i class="pi pi-send"></i>
                </button>
            </div>
        </form>
        <span class="message" *ngIf="showMessage">Le commentaire a bien été crée.</span>
    </div>
</div>