@import "primeicons/primeicons.css";


/* Base */
* {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

/* Content */
.hide {
    display: none!important;
}

/* Form */
.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form__column {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    max-width: 800px;
    width: 100%;

    &:last-of-type {
        margin-bottom: unset;
    }
}

textarea {
    min-height: 145px;
    resize: vertical;
}

/* Button */
.button__purple {
    background-color: #7550EC!important;
    border: unset!important;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
        background-color: #5432C2!important;
    }
}