/* Home */
.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/* Logo */
.home__logo {
    max-width: 100%;
    width: 500px;
}

/* Buttons */
.home__buttons {
    display: flex;
    gap: 20px;
}

// Responsive
@media screen and (max-width: 1250px) {
    /* Buttons */
    .home__buttons {
        flex-direction: column;
    }

    ::ng-deep button.p-button {
        width: 100%;
    }
}