<div class="feed">
    <div class="feed__informations">
        <div>
            <a routerLink="/posts/add">
                <button class="button__purple" label="Créer un article" pButton></button>
            </a>
        </div>
        <div class="informations__filter">
            <span>Trier par </span>
            <i class="filter__arrow pi pi-arrow-down" (click)="filterBy('old')" #arrowDown></i>
            <i class="filter__arrow hide pi pi-arrow-up" (click)="filterBy('recent')" #arrowUp></i>
        </div>
    </div>
    <div class="feed__posts">
        <span class="center" *ngIf="posts.length === 0">Aucun article n'est disponible.</span>
        <app-post-tile
            *ngFor="let post of posts"
            [id]="post.id_posts"
            [title]="post.title"
            [date]="post.updated_at"
            [author]="post.author"
            [text]="post.content">
        </app-post-tile>
    </div>
</div>