<!-- Informations -->
<app-page-informations previousURL="/" title="Se connecter" />

<!-- Login -->
<div class="login">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form__column">
            <label for="usernameOrMail">Email ou nom d'utilisateur :</label>
            <input formControlName="usernameOrMail" id="usernameOrMail" name="usernameOrMail" pInputText type="text" />
        </div>

        <div class="form__column">
            <label for="password">Mot de passe :</label>
            <input formControlName="password" id="password" name="password" pInputText type="password" />
        </div>

        <div class="form__column">
            <button class="button__purple" label="Se connecter" pButton></button>
        </div>
    </form>
    <span *ngIf="showMessage">{{ messageValue }}</span>
</div>